#aboutHero {
  padding: 0 20px;

  .content__wrapper {
    img {
      object-fit: cover;
      min-width: 100%;
    }
  }
}

#aboutContactDetails {
  border-bottom: 1px solid $black;
  padding-bottom: 90px;

  a:first-of-type {
    svg {
      display: none;
    }
  }

  p,
  a {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    font-family: neue-haas-grotesk-text, sans-serif;
    line-height: 24px;
  }
  // title
  > .grid__wrapper:first-of-type {
    padding: 20px;
    gap: 60px;

    @media (max-width: 1080px) {
      grid-template-columns: 1fr;
      margin-top: 60px;
    }

    > .grid__wrapper {
      @media (max-width: 1080px) {
        grid-template-columns: 1fr;
      }
    }
  }
  // grid-wrapper with form
  > .grid__wrapper:last-of-type {
    padding: 20px;
    gap: 60px;

    > div:first-of-type {
      @media (max-width: 1080px) {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }
    }

    @media (max-width: 1080px) {
      gap: 40px;
      align-items: start;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .form__wrapper {
    padding-right: 60px;

    @media (max-width: 1080px) {
      padding-right: 0;
    }

    h3 {
      margin-bottom: 1rem;
    }

    form {
      label {
        font-size: 12.5px;
        font-weight: 400;
        font-style: normal;
        font-family: neue-haas-grotesk-text, sans-serif;
        line-height: 24px;
      }

      input,
      textarea,
      input[type='submit'] {
        border: 0;
        border-radius: 0;
        width: 100%;
        resize: none;
        font-size: 12.5px;
        font-weight: 400;
        font-style: normal;
        font-family: neue-haas-grotesk-text, sans-serif;
        line-height: 24px;
        transition: border-bottom-color 600ms ease;
        border-bottom: 1px solid transparent;
        appearance: none;

        &:focus {
          outline: none;
          border-bottom-color: #505050;
        }
      }

      input[type='submit'] {
        color: #fff;
        background-color: #505050;
        height: 36px;
        transition: background-color 600ms ease;
        cursor: pointer;

        &:hover,
        &:focus {
          background-color: $black;
        }
      }
    }
  }
}

#aboutTeam {
  border-bottom: 1px solid $black;
  padding: 30px 20px 56px 20px;

  > .grid__wrapper {
    gap: 60px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .team-members__wrapper {
      ul {
        margin: 0;
        padding: 0;
        padding-right: 90px;

        @media (max-width: 1080px) {
          padding-right: 0;
        }
      }
      li.flex__wrapper {
        flex-direction: column;

        .grid__wrapper {
          grid-template-columns: 1.5fr 1fr;
          gap: 20px;

          > div:last-of-type {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
          }
        }

        .grid__wrapper:first-of-type {
          align-items: end;
          margin-bottom: 30px;
        }

        .bio-controls {
          height: 18px;
          display: flex;
          align-items: center;

          .bio-btn {
            width: 56px;
            height: 17px;
            transition: translateY 250ms ease;
            position: relative;
            overflow: hidden;

            span {
              position: absolute;
              height: 17px;
              transition: all 450ms ease;
            }

            span:first-of-type {
              top: 0;
              left: 0;
            }
            span:last-of-type {
              top: 18px;
              left: 0;
            }
          }

          .button-arrow__wrapper {
            height: 20px;

            svg {
              transition: all 450ms ease;
            }
          }
        }

        .bio-controls.active {
          .bio-btn {
            span:first-of-type {
              top: -18px;
            }
            span:last-of-type {
              top: 0;
            }
          }

          .button-arrow__wrapper {
            svg {
              transform: rotate(90deg);
            }
          }
        }
      }

      .team-bio {
        padding-bottom: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 650ms ease-in-out;
        align-items: start;
      }

      .team-bio.active {
        max-height: 300px;
        padding-bottom: 30px;
      }
    }
  }
}

#clientList {
  border-bottom: 1px solid $black;
  padding: 30px 20px 90px 20px;

  > .grid__wrapper {
    gap: 60px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .flex__wrapper {
      flex-direction: column;
      padding-right: 90px;

      > div:first-of-type {
        margin-bottom: 30px;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          line-height: 21px;
        }

        .hidden-image__wrapper {
          img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 400ms ease-in-out;
            z-index: -1;
          }

          img.show {
            opacity: 1;
          }
        }
      }
    }
  }
}
