#fpHeading {
  min-height: 60vh;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  padding-bottom: 140px;

  .wysiwyg__reset {
    // Reset any text coming from wysiwyg
    h1,
    h2,
    h3,
    h4,
    p,
    a {
      font-size: 2.375rem;
      font-weight: 300;
      font-style: normal;
      font-family: neue-haas-grotesk-display, sans-serif;
      line-height: 54px;
      letter-spacing: 0.05rem;
      text-underline-offset: 6px;

      @media (max-width: 400px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    a {
      text-decoration: underline;
    }

    p br {
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }
}

#fpCaseStudies {
  border-bottom: 1px solid $black;

  a {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: normal;
    font-family: neue-haas-grotesk-display, sans-serif;
    line-height: 32px;
    letter-spacing: 0.05rem;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;

    &:hover {
      color: #252525;
      text-decoration: underline;
    }
  }
  p {
    padding-top: 4px;
  }

  .cs-one-col {
    .accordion__button {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px;
      padding-bottom: 56px;
      border-top: 1px solid $black;
      gap: 60px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr 3fr;
        grid-auto-rows: auto;
        row-gap: 60px;
        padding-bottom: 15px;
      }

      @media (max-width: 600px) {
        gap: 20px;
      }

      div:first-of-type {
        padding-right: 20%;
        @media (max-width: 768px) {
          grid-row: 2;
          grid-column: 1 / -1;
          padding-right: 0;
        }
      }

      div:nth-of-type(2) {
        grid-column: 2;

        @media (max-width: 768px) {
          grid-column: 1;
        }
      }
      div:last-of-type {
        grid-column: 4;

        @media (max-width: 768px) {
          grid-column: 2 / -1;
        }
      }

      br {
        @media (max-width: 910px) {
          display: none;
        }
      }
    }

    > .grid__wrapper:last-of-type {
      padding: 0 20px;
      grid-template-columns: 1fr;

      img {
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }
  .cs-two-col {
    .accordion__button {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px;
      padding-bottom: 56px;
      border-top: 1px solid $black;
      gap: 60px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr 3fr;
        grid-auto-rows: auto;
        row-gap: 60px;
        padding-bottom: 15px;
      }

      @media (max-width: 600px) {
        gap: 20px;
      }

      div:first-of-type {
        padding-right: 20%;
        @media (max-width: 768px) {
          grid-row: 2;
          grid-column: 1 / -1;
          padding-right: 0;
        }
      }

      div:nth-of-type(2) {
        grid-column: 2;

        @media (max-width: 768px) {
          grid-column: 1;
        }
      }
      div:last-of-type {
        grid-column: 4;

        @media (max-width: 768px) {
          grid-column: 2 / -1;
        }
      }

      h2 br {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    > .grid__wrapper:last-of-type {
      padding: 0 20px;
      grid-template-columns: 1fr 1.5fr;

      align-items: end;
      gap: 160px;

      @media (max-width: 768px) {
        gap: 40px;
      }

      img {
        padding-bottom: 30px;
        width: 100%;

        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

#latestProject {
  border-bottom: 1px solid $black;
  padding-bottom: 30px;

  > div:first-of-type {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 56px;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      margin-bottom: 15px;
    }

    a {
      display: flex;
      align-items: center;

      &:before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background-color: transparent;
        border: 1px solid $volleyBlack;
        border-radius: 50px;
        margin-right: 5px;
      }
    }

    a:hover {
      text-decoration: underline;
    }

    a:hover::before {
      background-color: $volleyBlack;
    }

    div:last-of-type {
      grid-column: 4;

      @media (max-width: 768px) {
        grid-column: 1;
      }
    }

    // Flip rows position on mobile screen
    div:first-of-type {
      @media (max-width: 768px) {
        grid-row: 2;
      }
    }
  }

  .content__wrapper {
    padding: 0 20px;
    .grid__wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      li {
        display: flex;
        flex-direction: column;

        .aspect-ratio__wrapper {
          margin-bottom: 15px;

          img {
            width: 100%;
            object-fit: cover;
            margin-bottom: 12.5px;
          }
        }
      }
    }
  }
}

#companyInfo {
  padding-top: 20px;
  padding-bottom: 56px;
  border-bottom: 1px solid $black;

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    padding: 20px 15px;
  }

  > .grid__wrapper:first-of-type {
    margin-left: 20px;
    grid-template-columns: 1fr 3fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      margin: 0;
      margin-bottom: 6px;
    }
    .content__wrapper {
      // Contact details info
      > div:first-of-type {
        margin-bottom: 120px;

        @media (max-width: 768px) {
          margin-bottom: 60px;
        }
      }

      > div:last-of-type {
        @media (max-width: 600px) {
          padding-left: 15%;
        }
      }
    }
  }

  .wysiwyg__reset {
    // Reset any text coming from wysiwyg
    h1,
    h2,
    h3,
    h4,
    p,
    a {
      font-size: 2.375rem;
      font-weight: 300;
      font-style: normal;
      font-family: neue-haas-grotesk-display, sans-serif;
      line-height: 54px;
      letter-spacing: 0.05rem;
      text-underline-offset: 6px;

      @media (max-width: 400px) {
        font-size: 20px;
        line-height: 26px;
      }
    }

    a {
      text-decoration: underline;
    }

    p br {
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  .hidden-image__wrapper {
    img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
      z-index: -1;
    }

    img.show {
      opacity: 1;
    }
  }

  // Second Paragraph
  > .content__wrapper:last-of-type {
    padding-left: 20px;

    @media (max-width: 600px) {
      padding-left: 0;
    }
  }
}

#latestNews {
  border-bottom: 1px solid $black;
  padding: 20px 20px 30px 20px;

  @media (max-width: 600px) {
    padding: 15px;
  }

  > .grid__wrapper {
    grid-template-columns: 1fr 3fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  ul {
    padding-inline-start: 0;

    li {
      margin-bottom: 30px;
      max-width: 80%;

      a,
      .post-date {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;

        @media (max-width: 420px) {
          font-size: 1.25rem;
          line-height: 26px;
          text-decoration-thickness: 1px;
        }
      }
    }

    li:last-of-type {
      @media (max-width: 600px) {
        margin-bottom: 0;
      }
    }
  }
}
