#fpHeading {
  min-height: 60vh;

  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  padding-bottom: 140px;
}

#fpCaseStudies {
  border-bottom: 1px solid $black;
  .cs-one-col {
    .accordion__button {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px;
      padding-bottom: 56px;
      border-top: 1px solid $black;
    }

    > .grid__wrapper:last-of-type {
      padding: 0 20px;
      grid-template-columns: 1fr;

      img {
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }
  .cs-two-col {
    .accordion__button {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 20px;
      padding-bottom: 56px;
      border-top: 1px solid $black;
    }

    > .grid__wrapper:last-of-type {
      padding: 0 20px;
      grid-template-columns: 1fr 1.5fr;

      align-items: end;
      gap: 160px;

      img {
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }
}

#latestProject {
  border-bottom: 1px solid $black;
  padding-bottom: 30px;

  > div:first-of-type {
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 56px;
    grid-template-columns: 3fr 1fr;
    gap: 60px;
  }

  .content__wrapper {
    padding: 0 20px;
    .grid__wrapper {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      li {
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          object-fit: cover;
          margin-bottom: 12.5px;
        }
      }
    }
  }
}

#companyInfo {
  padding-top: 20px;
  padding-bottom: 56px;
  border-bottom: 1px solid $black;

  > .grid__wrapper:first-of-type {
    margin-left: 20px;
    grid-template-columns: 1fr 3fr;

    .content__wrapper {
      // Contact details info
      > div:first-of-type {
        margin-bottom: 120px;
      }
    }
  }

  .wysiwyg__reset {
    // Reset any text coming from wysiwyg
    h1,
    h2,
    h3,
    h4,
    p,
    a {
      font-size: 2.375rem;
      font-weight: 300;
      font-style: normal;
      font-family: neue-haas-grotesk-display, sans-serif;
      line-height: 54px;
      letter-spacing: 0.05rem;
      text-underline-offset: 6px;
    }

    a {
      text-decoration: underline;
    }
  }

  .hidden-image__wrapper {
    img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 400ms ease-in-out;
      z-index: -1;
    }

    img.show {
      opacity: 1;
    }
  }

  // Second Paragraph
  > .content__wrapper:last-of-type {
    padding-left: 20px;
  }
}

#latestNews {
  border-bottom: 1px solid $black;
  padding: 20px 20px 30px 20px;

  > .grid__wrapper {
    grid-template-columns: 1fr 3fr;
  }

  ul {
    padding-inline-start: 0;

    li {
      margin-bottom: 30px;
      max-width: 80%;

      a,
      .post-date {
        font-family: Neue Haas Grotesk Display Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;
      }
    }
  }
}
