body.page-partners {
  main {
    border-bottom: 1px solid $black;
    padding-bottom: 124px;
  }
  #partnerPageHero {
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      display: none;
    }

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 15px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  #partnerInfo {
    @media (max-width: 768px) {
      padding-top: 120px;
    }
    .grid__wrapper {
      margin: 0 15px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      > .flex__wrapper {
        margin-right: 30px;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 60px;
        }

        .partner-branding {
          height: 75px;
          margin-bottom: 30px;
        }

        .partner-details {
          // Reset wysiwyg
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p,
          a {
            font-size: 1rem;
            font-weight: 400;
            font-style: normal;
            font-family: neue-haas-grotesk-text, sans-serif;
            line-height: 24px;
          }

          a:hover {
            text-decoration: underline;
          }
          width: 75%;

          @media (max-width: 768px) {
            width: 100%;
          }

          .partner-image--mobile {
            @media (min-width: 768px) {
              display: none;
            }

            display: block;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

// Toggling between which Partner is showing

// Partner One
.partner-one__image {
  opacity: 0;
  transition: opacity 650ms ease;

  @media (max-width: 768px) {
    opacity: 1;
  }
}

.partner-one__info__wrapper {
  opacity: 0.25;
  transition: opacity 650ms ease;

  @media (max-width: 768px) {
    opacity: 1;
  }

  a {
    pointer-events: none;
  }
}

main.partner-one-reveal {
  .partner-one__image {
    opacity: 1;
  }

  .partner-one__info__wrapper {
    opacity: 1;

    a {
      pointer-events: all;

      @media (max-width: 768px) {
        pointer-events: all;
      }
    }
  }
}
// Partner Two
.partner-two__image {
  opacity: 0;
  transition: opacity 650ms ease;

  @media (max-width: 768px) {
    opacity: 1;
  }
}

.partner-two__info__wrapper {
  opacity: 0.25;
  transition: opacity 650ms ease;

  @media (max-width: 768px) {
    opacity: 1;
  }

  a {
    pointer-events: none;

    @media (max-width: 768px) {
      pointer-events: all;
    }
  }
}

main.partner-two-reveal {
  .partner-two__image {
    opacity: 1;
  }

  .partner-two__info__wrapper {
    opacity: 1;

    a {
      pointer-events: all;
    }
  }
}
