.post-type-archive-project_index main {
  padding-top: 75px;
}

// Filter & Search

.index-filter__wrapper {
  padding: 20px;
  margin-bottom: 56px;
  overflow: hidden;

  @media (max-width: 600px) {
    margin-bottom: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .grid__wrapper {
    align-items: start;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 0;
      row-gap: 15px;
    }

    > div:first-of-type {
      grid-column: span 2;
    }

    #filterToggle {
      padding-left: 0;

      &.disabled {
        color: #888888;
        pointer-events: none;
      }
    }

    .category-filter__wrapper {
      grid-column: 3 / -1;
      position: relative;

      @media (max-width: 600px) {
        grid-column: 1;
      }

      .categories-filter-list__wrapper {
        opacity: 0;
        pointer-events: none;
        transition: opacity 450ms ease;

        .categories-filter-list {
          li {
            margin-right: 60px;
            line-height: 17px;

            @media (max-width: 600px) {
              margin-right: 20px;
            }

            > span {
              font-size: 12.5px;
              color: #888888;
            }
          }
        }

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }

      .current-active-category__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 450ms ease;

        > div:first-of-type {
          span {
            font-size: 12.5px;
            color: #888888;
            text-transform: capitalize;
            margin-right: 30px;
          }

          .current-active-category {
            color: $black;
            text-decoration: underline;
          }
        }

        &.active {
          opacity: 1;
          height: auto;
          pointer-events: all;
        }
      }
    }
  }
}

// Project Index Headers

.index-header,
.index-table,
.empty-category {
  padding: 20px;
  border-bottom: 1px solid $black;
  grid-template-columns: repeat(16, 1fr);
  gap: 20px;

  h3 {
    font-size: 12.5px;
    color: #888888;
  }

  .small-text {
    font-size: 12.5px;
  }

  > div {
    grid-column: span 4;

    @media (max-width: 600px) {
      grid-column: 1;
    }
  }

  > div:first-of-type {
    grid-column: 1 / span 2;

    @media (max-width: 600px) {
      grid-column: 1;
    }
  }

  > div:nth-of-type(3) {
    margin-left: 12px;

    @media (max-width: 600px) {
      margin-left: 0;
    }
  }

  > div:last-of-type {
    grid-column: 15 / span 2;

    @media (max-width: 600px) {
      grid-column: 1;
    }
  }
}

.index-header {
  @media (max-width: 600px) {
    display: none;
  }
}

.index-table {
  padding-bottom: 60px;
  opacity: 0;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }

  .index-page-header--mobile {
    display: block;
    color: #888888;

    @media (min-width: 600px) {
      display: none;
    }
  }
}

.index-table:first-of-type {
  @media (max-width: 600px) {
    border-top: 1px solid $black;
  }
}
