html {
  font-size: 16px;
  font-family: neue-haas-grotesk-display, sans-serif;
  color: $volleyBlack;
}

h1 {
  font-size: 2.375rem;
  font-weight: 300;
  font-style: normal;
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 54px;
  letter-spacing: 0.05rem;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;

  @media (max-width: 420px) {
    font-size: 1.25rem;
    line-height: 26px;
    text-decoration-thickness: 1px;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 32px;
  letter-spacing: 0.05rem;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;

  @media (max-width: 420px) {
    font-size: 1.25rem;
    line-height: 26px;
    text-decoration-thickness: 1px;
  }
}
h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: neue-haas-grotesk-text, sans-serif;
  line-height: 24px;
}

p,
a,
li a {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 17px;
  color: $volleyBlack;
}

li a:hover {
  color: #252525;
  text-decoration: underline;
}

a.link-disabled {
  pointer-events: none;
}
