#volley-header {
  height: 114px;
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid transparent;

  position: relative;

  @media (max-width: 768px) {
    height: 65px;
    background-color: $volleyWhite;
    padding: 10px 15px 15px;
    align-items: center;
  }

  #site-navigation {
    width: 60%;
    height: 35px;
    min-width: 600px;
    padding-right: 20px;

    #primary-menu {
      display: flex;
      padding-left: 20px;
      justify-content: space-between;

      > li {
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;

        a:hover {
          color: #252525;
          text-decoration: underline;
        }

        a[aria-current='page'] {
          color: #252525;
          text-decoration: underline;
        }
      }
    }

    .menu-item-has-children {
      .sub-menu {
        display: none;
        position: absolute;
        top: 86px;
        left: 0;
        background: $volleyWhite;
        width: 100%;
        z-index: 10;
        height: 70px;
        flex-direction: column;
        justify-content: center;

        a {
          display: flex;
          align-items: center;

          &:before {
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            background-color: transparent;
            border: 1px solid $volleyBlack;
            border-radius: 50px;
            margin-right: 5px;
          }
        }

        a:hover {
          text-decoration: underline;
        }

        a:hover::before {
          background-color: $volleyBlack;
        }
      }
    }

    .menu-item-has-children:hover .sub-menu {
      display: flex;
    }
  }

  .site-branding {
    width: auto;
    height: 35px;
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: flex-end;

    #mainBranding {
      display: flex;
      align-items: flex-end;

      max-width: 105px;
      height: 20px;
    }
  }
}

/*
****************************************************
* ***************** NAVIGATION *********************
****************************************************
*/

/* ***************** */
/* ** Mobile Menu ** */
/* ***************** */

#site-navigation {
  @media (max-width: 768px) {
    display: none;
  }
}

#mobile-site-navigation {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: calc(100vh - 65px);
  background-color: #fafaf5;
  z-index: 9999;
  display: flex;
  align-items: flex-end;
  padding: 0 15px 120px;
  transition: opacity 450ms ease;
  transition-delay: 300ms;
  overflow: scroll;

  @media (min-width: 768px) {
    display: none;
  }

  ul {
    li {
      a {
        font-family: Neue Haas Grotesk Display Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 48px;
      }
    }
  }

  .menu-item-has-children {
    ul {
      li {
        padding-left: 30px;
      }
    }
  }
}

.menu-toggle {
  width: 18px;
  height: 18px;
  position: relative;
  display: none;

  span {
    background-color: $volleyBlack;
  }

  span:first-of-type {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 0;
    transform-origin: center;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  span:last-of-type {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 0;
    transform-origin: center;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  @media (max-width: 768px) {
    display: block;
  }
}
// Prevent scrolling when menu is open
body.menu-open {
  overflow: hidden;
}
// Transform into menu icon into "X"
//
body.menu-open .menu-toggle span:first-of-type {
  top: calc(50% - 1px);
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body.menu-open .menu-toggle span:last-of-type {
  bottom: 50%;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

// display mobile menu

body.menu-open #mobile-site-navigation {
  opacity: 1;
  pointer-events: all;
}
