@import './templates/front-page';
@import './templates/how-we-work.scss';
@import './templates/our-services.scss';
@import './templates/about-us.scss';
@import './templates/project-index.scss';
@import './templates/partner-page.scss';
@import './templates/case-studies.scss';
@import './templates/single-case-study.scss';
